<form method="post" action="{{ path('student_delete', {'id': student.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-color btn-cs btn-small mt-1">Supprimer</button>
</form>
