{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <div class="container-fluid" style="height:100vh">
        <div class="row page">
            <div class="col-4 menu-rigth text-center">
                {% include 'student/_form.html.twig' %}
            </div>
            <div class="col-8 menu-left">
                {% include 'student/show.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
