{% extends 'base.html.twig' %}

{% block title %}Trouve ton Ecole{% endblock %}

{% block body %}
<div class="container-fluid" style="height:100vh">
    <div class="row page">
        <div class="col-4 menu-rigth text-center">
            <h1 class="title">Trouve</h1>
            <h1 class="title">ton</h1>
            <h1 class="title">école</h1>
            <a class="btn btn-success" href="{{ path('app_login') }}">Entrer</a>
        </div>
        <div class="col-8 menu-left">
            <h1>

            </h1>
        </div>
    </div>
</div>
{% endblock %}
